In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
# 重複したデータを含むDataFrame
dframe = DataFrame({'key1': ['A'] * 2 + ['B'] * 3,
                  'key2': [2, 2, 2, 3, 3]})

In [4]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [5]:
# 重複したデータがあるかどうかがわかります。
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [7]:
# 重複した行を削除できます。
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [8]:

# 1つの列に注目して、重複を削除できます。
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [12]:
# 元のデータです。
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [15]:
# 最初の重複ではなく、最後のデータを残す事もできます。
dframe.drop_duplicates(['key1'],keep='last')

  key1  key2
1    A     2
4    B     3